body {
      background-color: #0f1616;
      color: #c9a66b;
      font-family: Arial, sans-serif;
      margin: 0;
  position:relative;
  animation: example 1.1s; /* dari w3schools */
   animation-name: example; /* dari w3schools*/
    animation-duration: 1s;
}

@keyframes example { /* from w3schools */
    0%   {bottom:100px;}
    100% {bottom:0px;}
}


.contact-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  background-color:rgba(253, 240, 213, 0.95);
  color: #c9a66b;
  border-color: #c9a66b;
}

.form-control:focus {
  background-color: #1a2222;
  color: #c9a66b;
  border-color: #ffffff;
  outline: none;
  box-shadow: none;
}

.form-label {
  color: #c9a66b;
}

.btn-custom {
  background-color: #c9a66b;
  color: #0f1616;
  border: none;
}

.btn-custom:hover {
  background-color: #b08c5a;
  color: #0f1616;
}

.form-box {
  background-color: #121a1a;
  padding: 30px;
  border-radius: 12px;
}