body {
      background-color: #0f1616;
      color: #c9a66b;
      font-family: Arial, sans-serif;
      margin: 0;
    }

.navbar {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1000;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    height: 85.1px;
    box-sizing: border-box;
}

.navbar .logo {
    width: 80px;
    height: auto;
    margin-right: auto; /* Posisikan logo di kiri */
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

/* Style lainnya tetap sama */
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: gold;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}
    .contact-section {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form-control {
      background-color:rgba(253, 240, 213, 0.95);
      color: #c9a66b;
      border-color: #c9a66b;
    }

    .form-control:focus {
      background-color: #1a2222;
      color: #c9a66b;
      border-color: #ffffff;
      outline: none;
      box-shadow: none;
    }

    .form-label {
      color: #c9a66b;
    }

    .btn-custom {
      background-color: #c9a66b;
      color: #0f1616;
      border: none;
    }

    .btn-custom:hover {
      background-color: #b08c5a;
      color: #0f1616;
    }

    .form-box {
      background-color: #121a1a;
      padding: 30px;
      border-radius: 12px;
    }