.custom-footer {
  background-color: #0b1212; 
  color: #fff;               
  text-align: center;
  padding: 40px 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.footer-logo img {
  width: 200px;
}
.footer-links {
  margin-top: 10px;
}
svg {
  margin-left: 10px;
  margin-right:10px;
}
footer a svg {
  color: white;
}

footer a:hover svg {
  color: gold; 
}
