@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #0f1616;
  color: #fff;
}
.hero-section {
  background: url('./tubesimg/hero-guide.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1000;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    height: 85.1px;
    box-sizing: border-box;
}

.navbar .logo {
    width: 80px;
    height: auto;
    margin-right: auto;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    transition: all 0.3s;
}

.nav-links a:hover {
    color: gold;
    border-bottom: 2px solid gold;
    padding-bottom: 5px;
}

li{
    list-style-type:none;
}
.hero-content {
  padding: 40px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 48px;
  color: #2c2c2c;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  color:#2c2c2c;
}

.guide-container {
  margin: auto;
  background-color: #0f1616;
  color: #fff;
}

.guide-section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
    background-color: #fffbe6;
  color: #fff;
}

.guide-section.reverse {
  flex-direction: row-reverse;
    background-color: #ffe7cc;
  padding:0px;
}

.guide-img {
  flex: 1 1 400px;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
  height:400px;
  margin:80px 250px;
}
a{
   text-decoration:none;
}
.guide-text {
  flex: 1 1 400px;
  margin:40px 70px;
  color: #2b1e16;
 
}

.guide-text h2 {
  color: #c9a66b;
  margin-bottom: 15px;
  font-size: 28px;
}

.guide-text p, .guide-text ul {
  font-size: 18px;
  line-height: 1.6;
  color:#2b1e16;
}

.guide-text ul {
  padding-left: 20px;
}
  
@media only screen and (max-width: 600px) {
  .guide-img {
    margin: 40px 40px;
    width:20px;
}
}
@media only screen and (min-width: 600px) and (max-width:992px) {
  .guide-img {
    margin: 40px 0px 40px 80px;
}
.guide-text {
    margin: 40px 0px 40px 80px;
}
.guide-section.reverse {
    margin: 40px 80px 40px 0px;
}
}
@media only screen and (min-width: 733px) and (max-width:991px)
{
 .guide-img {
    margin: 40px 0px 40px 120px;
}
.guide-text {
    margin: 40px 0px 40px 100px;
}
.guide-section.reverse {
    margin: 40px 120px 40px 0px;
}
}
@media only screen and (min-width: 992px) {
   .guide-img {
    margin: 40px 0px 40px 120px;
    
}
.guide-text {
    padding: 40px 25px 40px 90px;
}
.guide-section.reverse {
    padding: 40px 120px 40px 0px;
}

}